<html>
<head>
  <meta charset="utf-8">
  <style>
  body {
    margin-top: 5px !important;
    margin-left: 5px !important;
  }

  h4 {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size:  18px !important;
    font-weight: bold !important;
  }

  ol, ul, li {
    font-family: Arial, Helvetica, sans-serif !important;
    font-style: italic !important;
    font-size: 16px !important;
  }

  .btn-sm {
    width: 180px !important;
    height: 35px !important;
  }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous" />
    <title>MongoDBzão!</title>
</head>
<body>
  <form name="add" action="{{ url_for('pulling') }}" method="POST">
      <input type="submit" class="btn btn-outline-dark btn-sm"
        value="Query 6 results" name="requested" />
  </form>
  <form name="delet" action="{{ url_for('deleting') }}" method="POST">
      <input type="submit" class="btn btn-outline-danger btn-sm"
        value="Clear all" name="deleted" />
  </form>
  <h4> Total de {{ count }} registros!</h4>
  <h4> Nomes registrados: </h4>
  <ol>
    {% if count == 0 %}
      Nenhum registro!
    {% endif %}
    {% for name in names %}
    <li> {{name}} </li>
    {% endfor %}
  </ol>
  <h4> Emails registrados: </h4>
    <ol>
      {% if count == 0 %}
        Nenhum registro!
      {% endif %}
      {% for email in emails %}
      <li> {{email}} </li>
      {% endfor %}
    </ol>
  <h4> Data: </h4>
  <ul>
    {% if count == 0 %}
      Nenhum registro!
    {% endif %}
    {% for d in data %}
    <ol> {{ d }} </ol>
    {% endfor %}
  </ul>
</body>
</html>
